<h2>New Booking page</h2>
<p>
    <form onsubmit="return addBooking();">
        <p>
            <Label>Date:</Label>
            <input type="datetime-local" id="date">
        </p>
        <p>
            <Label>Doctor:</Label>
            <select id="doctorid">
            </select>
        </p>
        <p>
            <input type="submit" value="Book Now!">
        </p>
    </form>
</p>

<script src='/js/jquery.min.js'></script>
<script>
    $(document).ready(function() {
        if (sessionStorage.login !== "user") {
            alert("Please login!")
            window.location.assign('/login');
        }

        $.ajax({
                url: "/api/doctors/all",
                method: "get"
            })
            .done(function(data) {
                if (data.message) {
                    $("#statusMessage").text(data.message);
                } else if (!data.data || data.data.length === 0) {
                    $("#statusMessage").text("No doctor available");
                } else {
                    data.data.map((doctor) => {
                        $('#doctorid').append(`
                            <option value="${doctor.id}">${doctor.name}</option>
                        `)
                    })
                }
            })
            .fail(function(err) {
                $("#statusMessage").text(err.responseText);
            })
    })

    function addBooking() {
        let fulldate = $("#date").val().split('T')
        let data = {
            date: fulldate[0],
            time: fulldate[1],
            doctorId: $("#doctorid").val(),
            patientId: sessionStorage.id,
            patientName: sessionStorage.name
        }
        $.ajax({
                url: "/api/addbooking",
                method: "post",
                data: data
            })
            .done(function(data) {
                if (data.message) {
                    $("#statusMessage").text(data.message);
                } else if (data.data) {
                    $("#statusMessage").text(data.data);
                } else {
                    $("#statusMessage").text("Error booking!");
                }
            })
            .fail(function(err) {
                $("#statusMessage").text(err.responseText);
            })
        return false;
    }
</script>