<h2>View Bookings page</h2>
Arduino Kit Id: <span id="arkitDis"></span><button id="changeBtn" class="btns" onclick="showChange()">Change</button>
<div id="changearkit">
    <label>code:</label>
    <input type="text" id="newArkit"><br>
    <button class="btns" onclick="changeKit()">Change</button>
</div>
<div id="bookingsTb"></div>

<script src='/js/jquery.min.js'></script>
<script>
    startVideo = (bookingId) => {
        window.location.assign('/video/' + bookingId)
    }

    showChange = () => {
        $("#changeBtn").css('display', "none")
        $("#changearkit").css('display', "block")
    }

    changeKit = () => {
        $.ajax({
                url: '/open/api/kit/' + sessionStorage.id,
                method: "post",
                data: {
                    arkit: $("#newArkit").val()
                }
            })
            .done(
                (data) => {
                    if (data.message) {
                        $("#statusMessage").text(data.message)
                    } else {
                        $("#statusMessage").text("Kit Change")
                        $.ajax({
                                url: '/open/api/newsession/' + data.kit,
                                method: 'post'
                            })
                            .done(
                                (ndata) => {
                                    if (ndata.message) {
                                        $("#statusMessage").text(data.message)
                                    } else {
                                        window.location.reload()
                                    }
                                }
                            )

                    }
                }
            )
    }

    $(document).ready(function() {
        $("#changearkit").css('display', "none")
        if (sessionStorage.login !== "user") {
            alert("Please login!")
            window.location.assign('/login')
        }

        let gotKit = false

        $.ajax({
                url: '/open/api/kit/' + sessionStorage.id,
                method: "get"
            })
            .done(
                (data) => {
                    if (data.message) {
                        $("#statusMessage").text(data.message)
                    } else {
                        $("#arkitDis").text(data.data.arKit)
                    }
                    if (data.data.arKit !== "") {
                        gotKit = true
                    } else {
                        alert("Please enter Vital Box kitid")
                    }
                }
            )

        $.ajax({
                url: '/api/getbookingbypatientid/' + sessionStorage.id,
                method: "get"
            })
            .done(
                function(data) {
                    if (data.message) {
                        $("#statusMessage").text(data.message)
                    } else if (!data.data || data.data.length === 0) {
                        $("#statusMessage").text("No record fetched")
                    } else {
                        $("#statusMessage").text("You will need to enter Vital Box kitid to start")
                        data.data.forEach(function(event) {
                            console.log(gotKit)
                            if (!gotKit) {
                                $("#bookingsTb").append(`
                                    <article>
                                        <p>
                                            ${event.doctorName} - ${event.date} - ${event.date} - ${event.status} - <button class="btns" disabled>Enter</button>
                                        </p>
                                    </article>
                                `)
                            } else {
                                if (event.status == 'progress') {
                                    $("#bookingsTb").append(`
                                    <article>
                                        <p>
                                            ${event.doctorName} - ${event.date} - ${event.date} - ${event.status} - <button class="btns" onClick="startVideo('${event._id}')">Enter</button>
                                        </p>
                                    </article>
                                `)
                                } else {
                                    $("#bookingsTb").append(`
                                    <article>
                                        <p>
                                            ${event.doctorName} - ${event.date} - ${event.date} - ${event.status} - <button class="btns" disabled>Enter</button>
                                        </p>
                                    </article>
                                `)
                                }
                            }
                        })
                    }
                }
            )
            .fail(
                function(err) {
                    $("#statusMessage").text(err.responseText)
                }
            )
    })
</script>