<h2>Doctor Login page</h2>
<p>
    <form method="POST" action="/api/doctor/login">
        <p>
            <Label>Email:</Label>
            <input type="text" name="email">
        </p>
        <p>
            <Label>Password:</Label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <a href="/register">Register</a>
</p>