<h2>Add Doctor page</h2>
<form onsubmit="return register()">
    <p>
        <Label>Name:</Label>
        <input type="text" id="name">
    </p>
    <p>
        <Label>Email:</Label>
        <input type="text" id="email">
    </p>
    <p>
        <Label>Password:</Label>
        <input type="password" id="password">
    </p>
    <p>
        <Label>Confirm password:</Label>
        <input type="password" id="confirmpassword">
    </p>
    <p>
        <input type="submit" id="register" value="Register">
    </p>
</form>

<script>
    $(document).ready(function() {
        if (sessionStorage.login === "doctor") {
            window.location.assign('/doctorbookings')
        }
    })
    register = () => {
        if ($("#password").val() !== $("#confirmpassword").val()) {
            $("#statusMessage").text("The passwords does not match! Please enter again.")
        } else {
            var credentials = {
                name: $('#name').val(),
                email: $("#email").val(),
                password: $("#password").val()
            }
        }
        $.ajax({
                url: "/api/doctor/register",
                method: "post",
                data: credentials
            })
            .done(function(data) {
                if (data.message) {
                    $("#statusMessage").text(data.message)
                } else if (!data) {
                    $("#statusMessage").text("Login Fail!")
                } else {
                    sessionStorage.login = "doctor"
                    sessionStorage.authToken = data.token
                    sessionStorage.name = data.name
                    sessionStorage.id = data.id
                    window.location.assign('/doctorbookings')
                }
            })
            .fail(function(err) {
                $("#statusMessage").text(err.responseText)
            })
        return false
    }
</script>