<h2>Add Doctor page</h2>
<p>
    <form method="POST" action="/doctor/register">
        <p>
            <Label>Name:</Label>
            <input type="text" name="name">
        </p>
        <p>
            <Label>Email:</Label>
            <input type="text" name="email">
        </p>
        <p>
            <Label>Password:</Label>
            <input type="password" name="password">
        </p>
        <p>
            <Label>Confirm password:</Label>
            <input type="password" name="confirmpassword">
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</p>