<h2>Doctor Login page</h2>
<p>
<form onsubmit="return ilogin()">
    <p>
        <Label>Email:</Label>
        <input type="text" id="email">
    </p>
    <p>
        <Label>Password:</Label>
        <input type="password" id="password">
    </p>
    <p>
        <input type="submit" id="login" value="Login">
    </p>
</form>
<button id="register"><a href="/doctorregister">Register</a></button>
</p>
<script>
    $(document).ready(function () {
        if (sessionStorage.login === "doctor") {
            window.location.assign('/doctorbookings')
        }
    })
    ilogin = () => {
        var credentials = {
            email: $("#email").val(),
            password: $("#password").val()
        }
        $.ajax({
            url: "/api/doctor/login",
            method: "post",
            data: credentials
        })
            .done((data) => {
                if (data.message) {
                    $("#statusMessage").text(data.message)
                } else if (!data) {
                    $("#statusMessage").text("Login Fail!")
                } else {
                    sessionStorage.login = "doctor"
                    sessionStorage.authToken = data.token
                    sessionStorage.name = data.name
                    sessionStorage.id = data.id
                    window.location.assign('/doctorbookings')
                }
            })
            .fail((err) => {
                $("#statusMessage").text(err.responseText)
            })
        return false
    }
</script>