<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The VitalBox</title>
    <script src='/js/jquery.min.js'></script>
    <script>
        logout = () => {
            $.ajax({
                    url: "/api/logout?token=" + sessionStorage.authToken,
                    method: "get"
                })
                .done(function(data) {
                    sessionStorage.removeItem("login");
                    sessionStorage.removeItem("authToken");
                    sessionStorage.removeItem("name");
                    sessionStorage.removeItem("id");
                    location.reload();
                })
                .fail(function(err) {
                    console.log(err.responseText);
                })
        }

        $(document).ready(function() {
            if (sessionStorage.login === "user") {
                $('#logout').append(`
                <button onclick="logout()">Logout</button>
                `);
            }
            // else {
            //     $('#loginlogout').append(`<a href="/login">Login Page</a>`);
            // }
        });
    </script>
</head>

<body>
    <div id="navi">
        <button onclick="window.location.href='/booking'">Booking</button>
        <button onclick="window.location.href='/addbooking'">Add Booking</button>
        <button onclick="logout()">Logout</button>
    </div>
    <p id="logout"></p>
    <h1 style="color: red;">The VitalBox</h1>
    <%- body %>
</body>

</html>