<h2>Login page</h2>
<p>
    <form onsubmit="return login();">
        <p>
            <Label>Email:</Label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <Label>Password:</Label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <a href="/register">Register</a>
</p>
<script src='/js/jquery.min.js'></script>
<script>
    $(document).ready(function() {
        if (sessionStorage.login === "user") {
            window.location.assign('/booking');
        }
    })
    login = () => {
        var credentials = {
            email: $("#email").val(),
            password: $("#password").val()
        }
        $.ajax({
                url: "/api/login",
                method: "post",
                data: credentials
            })
            .done((data) => {
                if (data.message) {
                    $("#statusMessage").text(data.message);
                } else if (!data) {
                    $("#statusMessage").text("Login Fail!");
                } else {
                    sessionStorage.login = "user";
                    sessionStorage.authToken = data.token;
                    sessionStorage.name = data.name;
                    sessionStorage.id = data.id;
                    window.location.assign('/booking');
                }
            })
            .fail((err) => {
                $("#statusMessage").text(err.responseText);
            })
        return false;
    }
</script>